{% if hardening_enable_autologout | default('root') == 'root' %}
if [ "$EUID" -eq 0 ]; then
{% else %}
if [ 1 ]; then
{% endif %}
  TMOUT={{ hardening_autologout_timeout }}
  readonly TMOUT
  export TMOUT
fi
